#formulario {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #e9ecef;
    margin-top: 60px;
    font-weight: bold;
    
}


#relatorio{
    color: black;
}

.botao{
    text-align: center;
}